/* 1.样式重设 */
*{
    margin: 0;
    padding: 0;
}
/* 3.整体布局 */
html,body{
    height: 100%;
}
/* 2.字体设置 */
body{
    /* 3.整体布局 */
    display: flex;
    /* 3.整体布局 */
    flex-direction: column;
    font-size: 12px;
    font-family: arial;
}
/* 4.导航样式 */
.page-header{
    padding-top: 20px;
    padding-right: 10px;
    text-align: right;
}
.page-header nav a{
    font-size: 13px;
    font-weight: 700;
    color: #333;
    margin-left: 20px;
}
/* 5.更多信息 */
.page-header nav a:last-child{
    display: inline-block;
    width: 60px;
    height: 23px;
    background: #38f;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 23px;
}
.page-mainer{
    /* 3.整体布局 */
    flex: 1;
    /* 6.主体内容 */
    text-align: center;
    margin-top: 100px;
}
/* 7.主体图片 */
.page-mainer .logo-container img{
    width: 270px;
    height: 129px;
    margin-bottom: 22px;
}
/* 8.主体表单 */
.form-container form{
    display: flex;
    justify-content: center;
}
.form-container{
    font-size: 0;
}
/* 表单输入框 */
.form-container .form-search{
    display: inline-block;
    width: 539px;
    height: 34px;
    border: 1px solid #b6b6b6;
    border-right: 0;
    outline: none;
    padding-left: 10px;
}
/* 表单按钮 */
.form-container .submit-btn{
    width: 100px;
    height: 36px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    background: #3385ff;
    border: 1px solid #3385ff;
    outline: none;
    cursor: pointer;
}
.form-container .submit-btn:hover{
    opacity: 0.8;
}
/* 9.脚部图片 */
.page-footer{
    text-align: center;
    padding-bottom: 50px;
}
.page-footer .footer-info{
    margin-top: 15px;
    color: #999;
}
.page-footer .footer-info a{
    color: #999;
    margin-right: 15px;
}
.page-footer .footer-info a:last-child{
    margin-right: 0;
}