/* 页面样式 */
*{
    padding: 0px;
    margin: 0px;
}
body{
    background: #F8FAFC;
}
.course-detail-page{
    width: 100%;
    padding-top: 66px;
}
/* 页面头部样式 */
.page-header{
    width: 100%;
    height: 66px;
    background: #FFFFFF;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 40;
}
.page-header-section{
    width: 1000px;
    height: 44px;
    margin: 11px auto;
}
.page-header-tag{
    width: 63px;
    height: 44px;
    float: left;
}
.page-header-nav{
    float: left;
    padding: 15px 0px 12px 73px;
}
.header-nav-item{
    height: 18px;
    margin-right: 26px;
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #3E3A3A;
    line-height: 18px;
    text-decoration: none;
    float: left;
}
.header-nav-item:nth-child(4){
    margin: 0px 29px 0px 1px;
}
.header-nav-item.active{
    color: #4F6FDA;
    position: relative;
    top: 0;
    left: 0;
}
.header-nav-item.active::after{
    content: '';
    width: 40px;
    height: 6px;
    background: #4F6FDA;
    position: absolute;
    margin: 35px 0px 0px -36px;
}
/* 页面主体样式 */
.page-body{
    width: 1000px;
    margin: 0 auto;
}
/* 页面主体上边栏样式 */
.page-body-aside{
    width: 1000px;
    height: 344px;
    margin-top: 29px;
}
/* 面包屑容器样式 */
.breadbrumb-container{
    height: 16px;
    font-size: 0;
}
.breadcrumb-text-link{
    height: 16px;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #466DE1;
    text-decoration: none;
    line-height: 16px;
    margin-right: 11px;
}
.breadcrumb-text-link::after{
    content: ">";
    height: 16px;
    font-size: 16px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #707070;
    line-height: 16px;
    cursor: auto;
    margin-left: 10px;
}
.breadcrumb-text{
    height: 16px;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #707070;
    line-height: 16px;
}
/* 课程容器样式 */
.course-container{
    width: 1000px;
    height: 300px;
    background: #FFFFFF;
    margin: 28px auto 0;
}
.course-img{
    width: 400px;
    height: 240px;
    margin: 30px 0px 30px 30px;
    float: left;
}
.course-title{
    height: 24px;
    font-size: 24px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 24px;
    float: left;
    margin: 35px 0px 0px 21px;
}
.course-desc{
    width: 515px;
    height: 44px;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 24px;
    float: left;
    margin: 21px 0px 0px 20px;
}
.course-collect{
    width: 167px;
    height: 74px;
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #999999;
    line-height: 14px;
    float: left;
    margin: 72px 0px 0px 20px;
}
.course-collect-bd{
    margin-bottom: 16px;
}
.course-button{
    width: 180px;
    height: 50px;
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 50px;
    text-align: center;
    background: #466DE1;
    text-decoration: none;
    float: right;
    margin: 99px 30px 30px 0px;
}
/* 页面主体主要样式 */
.page-body-main{
    width: 1000px;
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
}
/* 目录容器样式 */
.categroy-container{
    width: 700px;
    background: #FFFFFF;
}
.categroy-item{
    height: 388px;
    padding-top: 32px;
}
.categroy-item:nth-child(n+2){
    height: 383px;
}
.categroy-item:last-child{
    padding-top: 35px;
    padding-bottom: 27px;
}
.categroy-item-title{
    height: 16px;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 16px;
    padding: 0px 0px 12px 30px;
}
.categroy-item-bd{
    height: 40px;
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 40px;
    text-decoration: none;
    padding-left: 50px;
    display: block;
}
.categroy-item:nth-child(n+2) .categroy-item-bd:nth-child(n+2){
    height: 35px;
    line-height: 35px;
}
.categroy-item:nth-child(n+2) .categroy-item-bd:nth-child(2){
    margin-top: 2.5px;
}
.categroy-item:nth-child(n+2) .categroy-item-bd:last-child{
    margin-bottom: 2.5px;
}
.categroy-item-bd:hover{
    background: #F6F8FD;
}
.categroy-item-bd.active{
    background: #F6F8FD;
}
.item-bd-icon{
    width: 16px;
    height: 16px;
    float: right;
    padding: 12px 50px;
    cursor: pointer;
}
.categroy-item:nth-child(n+2) .item-bd-icon{
    padding: 9.5px 50px;
}
.item-bd-icon.hidden{
    display: none;
}
.categroy-item-bd:hover .item-bd-icon{
    display: none;
}
.categroy-item-bd:hover .item-bd-icon.hidden{
    display: block;
}
/* 边栏容器样式 */
.aside-container{
    width: 280px;
    margin-left: 20px;
}
/* 课程详情项目样式 */
.course-detail{
    width: 280px;
    background: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 38px;
    margin-bottom: 20px;
}
.course-detail-dl{
    margin: 22px 33px 0px 30px;
}
.course-detail-dl:nth-child(2){
    margin: 30px 33px 0px 30px;
}
.course-detail-dl:nth-child(3){
    font-size: 0px;
    margin: 30px 0px 0px 30px;
}
.course-detail-dl:nth-child(4){
    margin: 24px 33px 0px 30px;
}
.course-detail-dt{
    height: 16px;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 16px;
}
.course-detail-dl:nth-child(3) .course-detail-dt{
    display: inline-block;
}
.course-detail-dd{
    height: 74px;
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #727171;
    line-height: 19px;
    margin-top: 10px;
}
.course-detail-dl:nth-child(3) .course-detail-dd{
    height: 16px;
    line-height: 16px;
    padding-left: 8px;
    margin: 0px;
    display: inline-block;
}
.course-detail-dl:last-child .course-detail-dd:last-child{
    height: 54px;
}
/* 相关课程项目样式 */
.course-related{
    width: 280px;
    background: #FFFFFF;
    padding-bottom: 22px;
}
.course-related-title{
    height: 16px;
    font-size: 16px;
    font-family: SourceHanSansCN;
    font-weight: bold;
    color: #333333;
    line-height: 16px;
    padding: 22px 0px 0px 30px;
}
.course-related-bd{
    height: 60px;
    margin: 12px 33px 8px 30px;
    text-decoration: none;
    display: block;
}
.related-bd-img{
    width: 90px;
    height: 60px;
    float: left;
}
.related-bd-text{
    height: 31px;
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 400;
    color: #666666;
    line-height: 16px;
    padding: 7px 0px 22px 101px;
}
.related-bd-text:nth-child(4){
    font-family: SourceHanSansCN;
}
/* 脚部样式 */
.page-footer{
    width: 100%;
    background: #333333;
    font-size: 12px;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #666666;
    line-height: 40px;
    margin-top: 38px;
}
.page-footer-section{
    width: 1000px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}